extends layout.pug

block page-val
  - var pageTitle = '加息活动'
  - var pageClass = 'page-app-raise-index'
  - var pageUrl = '/app/raise'

block content
  .ui.breadcrumb
    a.section(href='/app') APP
    i.right.angle.icon.divider
    .section.active #{pageTitle}
  .ui.segment
    .ui.grid
      .column.right.aligned
        .ui.compact.menu
          a.item(href=`${pageUrl}/create`) 
            i.plus.icon
            | 添加
    if dataList && dataList.length
      table(class='ui celled striped table')
        thead
          tr
            th 序号
            th 时间
            each col in _.range(9)
              th 产品#{col+1}
            th 状态
            th.right.aligned 操作
        tbody
          each val,idx in dataList
            tr
              td
                a(href=pageUrl+'/'+val.id title='编辑') #{idx+1}
              td
                if val.start
                  | #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.start)}
                |  - 
                if val.end
                  | #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.end)}
              each col in _.range(9)
                - var _productId = _.get(val,`dataList[${col}]`, '')
                td
                  if _productId
                    a(href='/plan/'+_productId) #{_productId}
                  else
                    | 
              td #{val.activeText}
              td.right.aligned
                a.ui.icon.tiny.button(href=pageUrl+'/'+val.id title='编辑')
                  i.edit.icon
                a.ui.icon.tiny.orange.button.J_confirm.J_delete(data-url=pageUrl+'/remove' data-post=JSON.stringify({id:val.id}) title='删除')
                  i.close.icon
    else
      +Empty()
