extends layout.pug

block page-val
  - var pageTitle = 'banner管理'
  - var pageClass = 'page-banner-index'
  - var pageUrl = '/banner'
  - var _query = query || {}
  - var _action = _query.id ? '编辑':'添加'

block content
  .ui.breadcrumb
    a.section(href='/') 首页
    i.right.angle.icon.divider
    a.section(href=pageUrl) #{pageTitle}
    i.right.angle.icon.divider
    .active.section #{_action}
  form#J_banner-form(class='ui stacked green segment form' method='POST')
    .field.required
      label 名称
      input(type='text' name='title' value=_query.title placeholder='名称')
    .field.required
      label 图片地址
      input(type='text' name='image' value=_query.image placeholder='图片地址')
      #J_banner-uploader.dropzone
    .field.required
      label 链接地址
      input(type='text' name='url' value=_query.url||'#' placeholder='链接地址')
    .fields
      .six.wide.field
        label 生效时间段
        .two.fields
          .field
            input.datetimepicker.datetimepicker-datetime(
              type='text' name='start' placeholder='开始时间'
              value=_query.start? UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', _query.start) : ''
              )
          .field
            input.datetimepicker.datetimepicker-datetime(
              type='text' name='end' placeholder='结束时间'
              value=_query.end? UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', _query.end) : ''
              )
      .field
        label 背景色
        input(type='text' name='color' value=_query.color placeholder='背景色')
      .field
        label 排序
        input(type='text' name='order' value=_query.order||99 placeholder='排序')
    .ui.center.aligned.basic.segment
      .ui.buttons
        button(class='ui positive button' type='submit') 保存
        .or
        button(class='ui button' type='reset') 重置
    input(type='hidden' name='_csrf' value=csrf)
    if !!(errors)
      +Error(errors)

block foot-script
  script.
    app.handler('upload')({uploadHolder:'#J_banner-uploader',field:'image',act:'banner'});
  if !!(errors)
    script.
      app.formError({'#J_banner-form': !{JSON.stringify(errors)}});
