extends layout.pug

block page-val
  - var _currentNav = stepCurrent
  - var pageTitle = _currentNav === 'deduction' ? '优惠券' : '满减券'

block content
  .ui.breadcrumb
    a.section(href='/') 首页
    i.right.angle.icon.divider
    a.section(href='/discount/deduction') #{pageTitle}
  .ui.top.attached.tabular.menu
    each step in stepList
      a.item(href=step.url title=step.sub class={active:_currentNav==step.key}) #{step.title}
  h3.ui.attached.header #{pageTitle}详情
  form.ui.form(method='POST')#J_form
    input(type='hidden' name='action' value='query')
    input(type='hidden' name='page' value=1)
    input(type='hidden' name='_csrf' value=csrf)
    if _currentNav === 'deduction'
      include ./discount.deduction.detail.pug
    else if _currentNav === 'coupon'
      include ./discount.coupon.detail.pug