thead
  tr
    th 满减券批次ID
    th 名称
    th.right.aligned 状态
    th.right.aligned 已领取数量
    th.center.aligned 已使用数量
    th.center.aligned 已折扣金额
    th.center.aligned 发放类型
    th.center.aligned 创建时间
    th
tbody
  each val,idx in dataList
    - var batchVal = val.valueJson
    tr
      td
        a(href='/discount/coupon/' + val.id title='发放详情') #{val.id}
      td
        a(href='/discount/coupon/' + val.id title='发放详情') #{val.batchName}
      td
        +DiscountStatus(val.batchStatus)
      td #{val.totalCount}
      td #{val.usedCount}
      td #{UIHelper.formatNumber(val.valueActual, 2)}
      td
        +DiscountIssueType(val.issueStrategy)
      td #{UIHelper.formatdate('YYYY-MM-DD HH:mm', val.createTime - 0)}
      td
        a(href='/discount/coupon/' + val.id title='发放详情')
          i.black.large.unhide.icon
        if val.batchStatus === 'ENABLED'
          a(href='/discount/' + val.id + '/coupon/invalid' title='作废')
            i.red.large.remove.circle.icon
tfoot
  tr
    th
      //- 有批量操作
      if batchList && batchList.length
        .ui.fitted.checkbox.J_toggle-checkbox-button
          input(type='checkbox' title='全选/反选')
          label
    th(colspan='12')
      +Pagination(pageNumber, totalCount)(class='right floated' pageSize=pageSize)
      //- 有批量操作
      if batchList && batchList.length
        +Batch(batchList)