extends layout.pug

block page-val
  - var pageTitle = '标的管理'
  - var pageClass = 'page-loan-index'
  - var pageUrl = '/loan'
  - var _currentNav = stepCurrent
  - var _query = query || {}
block content
  .ui.breadcrumb
    a.section(href='/') 首页
    i.right.angle.icon.divider
    .section.active #{pageTitle}
  .ui.steps.attached
    +Step(_currentNav, stepList)
  .ui.attached.segment
    form.ui.form(method='POST')
      h4.ui.dividing.header 搜索条件
      input(type='hidden' name='action' value='query')
      input(type='hidden' name='page' value=1)
      input(type='hidden' name='_csrf' value=csrf)
      .fields
        .five.wide.field
          label 利率
          .two.fields
            .field
              .ui.right.labeled.input
                input(
                  type='text' name='minInterest' maxlength='5'
                  placeholder='下限' value=_query.minInterest)
                .ui.basic.label %
            .field
              .ui.right.labeled.input
                input(
                  type='text' name='maxInterest' maxlength='5'
                  placeholder='上限' value=_query.maxInterest)
                .ui.basic.label %
        .five.wide.field
          label #{_currentNav == 'repayment' ? '本期期数' : '期限'}
          .two.fields
            .field
              .ui.right.labeled.input
                input(
                  type='text' name='minMonths' maxlength='2'
                  placeholder='下限' value=_query.minMonths)
                .ui.basic.label #{_currentNav == 'repayment' ? '期' : '月'}
            .field
              .ui.right.labeled.input
                input(
                  type='text' name='maxMonths' maxlength='2'
                  placeholder='上限' value=_query.maxMonths)
                .ui.basic.label #{_currentNav == 'repayment' ? '期' : '月'}
        if _currentNav == 'done'
          .six.wide.field
            label 结清日期
            .two.fields
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='closeStartTime' maxlength='10'
                  placeholder='下限' value=_query.closeStartTime)
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='closeEndTime' maxlength='10'
                  placeholder='上限' value=_query.closeEndTime)
        else if _currentNav == 'repayment'

        else
          .six.wide.field
            label 申请日期
            .two.fields
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='startTime' maxlength='10'
                  placeholder='下限' value=_query.startTime)
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='endTime' maxlength='10'
                  placeholder='上限' value=_query.endTime)
      if _currentNav == 'repayment'
        .fields
          .six.wide.field
            label 还款日期
            .two.fields
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='startTime' maxlength='10'
                  placeholder='下限' value=_query.startTime)
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='endTime' maxlength='10'
                  placeholder='上限' value=_query.endTime)
          .four.wide.field
            label 状态
            .ui.selection.dropdown
              input(type='hidden' name='repayStatus' value=_query.repayStatus)
              i.dropdown.icon
              .default.text 全部状态
              .menu
                - var _list = [{k:'',v:'全部状态'},{k:'false',v:'未添加'},{k:'true',v:'已添加'}]
                each item in _list
                  .item(data-value=item.k) #{item.v}
          .six.wide.field
            label 成交日期
            .two.fields
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='beginPassTime' maxlength='10'
                  placeholder='开始日期' value=_query.beginPassTime)
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='endPassTime' maxlength='10'
                  placeholder='结束日期' value=_query.endPassTime)        
      if _currentNav == 'wait'
        .fields
          .six.wide.field
            label 确认招标时间
            .two.fields
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='passTimeStart' maxlength='10'
                  placeholder='下限' value=_query.passTimeStart)
              .field
                input.datetimepicker.datetimepicker-date(
                  type='text' name='passTimeEnd' maxlength='10'
                  placeholder='上限' value=_query.passTimeEnd)
      .ui.action.input.four.wide.field
        input(type='text' name='searchVal' maxlength='20'
          placeholder='搜索关键字' value=_query.searchVal)
        .ui.selection.dropdown
          input(type='hidden' name='searchName' value=_query.searchName)
          i.dropdown.icon
          .default.text 搜索字段
          .menu
            - var _list = [{k:'refId',v:'进件号'},{k:'loanId',v:'标的ID'},{k:'userId',v:'用户ID'},{k:'username',v:'用户名'},{k:'realName',v:'真实姓名'},{k:'mobile',v:'手机号'}]
            each item in _list
              .item(data-value=item.k) #{item.v}
        button.ui.primary.button(type='submit') 搜索
        if dataList && dataList.length && (_currentNav === 'repayment' || _currentNav === 'bidding' || _currentNav === 'wait')
          button.ui.button(type='submit' name='excel' value='excel') 导出
      if batch && batchResult
        +BatchMessage(batchResult)
      if stopLoanResult
        +StopLoanMessage(stopLoanResult)
      if dataList && dataList.length
        h4.ui.dividing.header 搜索结果
        table(class='ui compact striped celled table')
          //- 不同状态，不同的字段
          if 'new' == _currentNav
            include loan.index.table.new.pug
          else if 'wait' == _currentNav
            include loan.index.table.wait.pug
          else if 'bidding' == _currentNav
            include loan.index.table.bidding.pug
          else if 'full' == _currentNav
            include loan.index.table.full.pug
          else if 'repayment' == _currentNav
            include loan.index.table.repayment.pug
          else if 'done' == _currentNav
            include loan.index.table.done.pug
          else
            include loan.index.table.default.pug
      else
        +Empty()
