thead
  tr
    th 计划ID
    th 计划
    th 预期年收益
    th.right.aligned 加入金额
    th.right.aligned 可用金额
    th.right.aligned 已获收益
    th.right.aligned 冻结费用
    th.center.aligned 加入时间
    th.center.aligned 退出日期
    th.center.aligned 收益处理方式
    th.center.aligned 付息日   
    th 状态
    th.right.aligned 操作
tbody
  each val,idx in dataList
    tr
      td #{val.financePlanId}
      td
        a(href='/plan/' + val.financePlanId) #{val.financePlanName}
      td.right.aligned #{val.expectedRateUplan}%
      td.right.aligned #{UIHelper.formatMoney(val.finalAmount)}
      td.right.aligned #{UIHelper.formatMoney(val.availablePrincipal)}
      td.right.aligned #{UIHelper.formatMoney(val.totalEarnInterest)}
      td.right.aligned #{UIHelper.formatMoney(val.frozenPrincipal)}
      td.center.aligned #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.registeredTime)}
      td.center.aligned #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.endLockingTime)}
      td.center.aligned #{UIHelper.parsePlanCashType(val.cashDrawType)}
      td.center.aligned 
        if val.cashDrawDay
          | 每月#{val.cashDrawDay}日  
        else 
          | -- 
      td #{val.statusText}
      td.right.aligned
        a(href=_baseUrl + '/plan/' + val.financePlanId) 投标记录
tfoot
  tr
    th(colspan='13')
      +Pagination(pageNumber, totalCount)(class='right floated' pageSize=pageSize)