thead
  tr
    th
    th 提现ID
    th 用户ID
    th 姓名
    th.right.aligned 提现金额
    th 银行账号
    th 银行名称
    th 单据状态
    th 退票原因
    th.center.aligned 申请时间
    th.center.aligned 提现成功时间
    th.center.aligned 退票时间
    th 提现来源
    th 通道
    th 恒丰订单号
    th 所属批次
tbody
  each val,idx in dataList
    tr
      td.collapsing
        .ui.fitted.checkbox.J_item-checkbox
          input(type='checkbox' name='ids' value=val.id data-extra={id:val.id})
          label
      td: a(href=pageUrl+'/'+val.id) #{val.id}
      td: a(href='/user/'+val.userId target='_blank') #{val.userId}
      td #{val.name}
      td.right.aligned #{UIHelper.formatMoney(val.cashAmount)}
      td #{UIHelper.safeBank(val.bankNum)}
      td #{val.bankType}
      td #{val.viewStatus}
      td #{val.logDesc}
      td.center.aligned
        if val.submitDate
          | #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.submitDate)}
        else
          | 
      td.center.aligned
        if val.finishDate
          | #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.finishDate)}
        else
          | 
      td.center.aligned
        if val.backTime
          | #{UIHelper.formatdate('YYYY-MM-DD HH:mm:ss', val.backTime)}
        else
          | 
      td #{val.viewCashWay}
      td #{val.viewChannel}
      td #{val.orderId}
      td #{val.batchNo}
tfoot
  tr
    th
      //- 有批量操作
      if batchList && batchList.length
        .ui.fitted.checkbox.J_toggle-checkbox-button
          input(type='checkbox' title='全选/反选')
          label
    th(colspan='15')
      +Pagination(pageNumber, totalCount)(class='right floated' pageSize=pageSize)
      //- 有批量操作
      if batchList && batchList.length
        +Batch(batchList)
